<br>
<div class="container-fluid">
  <div class="title">
    <h1>
      Care Compare: FAQ
    </h1>
    <br>
    <br>
    <table align="center">
      <tr class="row">
        <div class="category">
          <td>
            <img src="https://img.icons8.com/ios/420/price-tag-usd.png" class="FAQImages"/>
          </td>
          <td class="categoryTitles">Pricing</td>
        </div>
        <br>
        <br>
      </tr>
      <tr class="row">
        <div class="category">
          <td>
            <img src="https://cdn.iconscout.com/icon/free/png-256/account-269-866236.png"class="FAQImages"/>
          </td>
          <td class="categoryTitles">Account</td>
        </div>
      </tr>
    </table>
  </div>
</div>
