<!--<br>
<div class="container-fluid">
  <div class="title">
    <h1>
    Frequently Asked Questions
    </h1>
  </div>
  <div>
    <table>
      <tr>
        <button class="questionButton" type="button" data-toggle="collapse" data-target="#answer1">
          Question 1
        </button>
        <div class="collapse" id="answer1">
        Answer 1
        </div>
      </tr>
      <tr>
        <button class="questionButton" type="button" data-toggle="collapse" data-target="#answer2">
          Question 2
        </button>
        <div class="collapse" id="answer2">
          Answer 2
        </div>
      </tr>
      <tr>
        <button class="questionButton" type="button" data-toggle="collapse" data-target="#answer3">
          Question 3
        </button>
        <div class="collapse" id="answer3">
          Answer 3
        </div>
      </tr>
      <tr>
        <button class="questionButton" type="button" data-toggle="collapse" data-target="#answer4">
          Question 4
        </button>
        <div class="collapse" id="answer4">
          Answer 4
        </div>
      </tr>
    </table>
  </div>
</div>-->
<br>
<div class="container-fluid">
  <div class="title">
    <h1>
      Frequently Asked Questions
    </h1>
    <br>
    <br>
    <table align="center">
      <tr>
        <div class="category">
          <td>
            <img src="https://img.icons8.com/ios/420/price-tag-usd.png" class="FAQImages"/>
          </td>
          <td>Pricing</td>
        </div>
        <br>
      </tr>
      <tr>
        <div class="category">
          <td>
            <img src="https://cdn.iconscout.com/icon/free/png-256/account-269-866236.png"class="FAQImages"/>
          </td>
          <td>Account</td>
        </div>
      </tr>
    </table>
  </div>
</div>
