<br>
<div class="container-fluid">
  <div class="title">
    <h1>
      Care Compare: FAQ
    </h1>
  </div>
  <br>
  <br>
  <button class="categoryButton" type="button" data-toggle="collapse" data-target="#pricingAnswer" aria-expanded="false" aria-controls="collapseExample">
    <table>
      <tr>
        <td>
          <img src="https://img.icons8.com/ios/420/price-tag-usd.png" class="FAQImages"/>
        </td>
        <td>
          <p class="categoryTitles">Pricing</p>
        </td>
      </tr>
    </table>
  </button>
  <br>
  <div class="collapse" id="pricingAnswer">
    <div class="card card-body">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#PriceAnswer1" aria-expanded="false" aria-controls="collapseOne">
              Question #1
            </button>
          </h5>
        </div>

        <div id="PriceAnswer1" class="collapse " aria-labelledby="headingOne">
          <div class="card-body">
            Answer #1
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#PriceAnswer2" aria-expanded="false" aria-controls="collapseTwo">
              Question #2
            </button>
          </h5>
        </div>
        <div id="PriceAnswer2" class="collapse" aria-labelledby="headingTwo">
          <div class="card-body">
            Answer #2
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <button class="categoryButton" type="button" data-toggle="collapse" data-target="#accountAnswer" aria-expanded="false" aria-controls="collapseExample">
    <table>
      <tr>
        <td>
          <img src="https://cdn.iconscout.com/icon/free/png-256/account-269-866236.png" class="FAQImages"/>
        </td>
        <td>
          <p class="categoryTitles">Account</p>
        </td>
      </tr>
    </table>
  </button>
  <br>
  <div class="collapse" id="accountAnswer">
    <div class="card card-body">
      <div class="card">
        <div class="card-header" id="headingOne1">
          <h5 class="mb-0">
            <button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#AccountAnswer1" aria-expanded="false" aria-controls="collapseOne">
              Question #1
            </button>
          </h5>
        </div>

        <div id="AccountAnswer1" class="collapse " aria-labelledby="headingOne1">
          <div class="card-body">
            Answer #1
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo2">
          <h5 class="mb-0">
            <button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#AccountAnswer2" aria-expanded="false" aria-controls="collapseTwo">
              Question #2
            </button>
          </h5>
        </div>
        <div id="AccountAnswer2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordionExample">
          <div class="card-body">
            Answer #2
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
