div.title{
  text-align: center;
  font-size: 30px;
}
.FAQImages{
  height: 75px;
  display: block;
  /*margin: 0 auto 0 auto;*/
  vertical-align: top;
}
.categoryTitles{
  font-size: 40px;
  vertical-align: middle;
}
.row:hover{
  background-color: gray;
}
