<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="background">
  <div class="slantedDiv">
    <div class="contactText">
      <h3 id="question">Got a Question?</h3>
      <h1 id="contact">Contact Care Compare!</h1>
      <p class="content">We're devoted to hearing all user feedback and questions<br>We look forward to hearing from you</p>
    </div>
  </div>
  <div>
      <div class="form">
          <form action="contact.php" method="POST">
            <div class="form-content">
                <p class="form-text">NAME</p>
                <input type="text" name="name">
                <p class="form-text">EMAIL</p>
                <input type="text" name="email">
                <p class="form-text">MESSAGE</p>
                <textarea class="form-item" name="message" id="message" cols="30" rows="10"></textarea>
                <button type="button" id="send-email" class="btn btn-outline-primary">Send Email</button>
                <hr>
                <div class="info-item" id="address">
                  <img class="icon" src="assets/img/location-icon.png" alt="">
                  <p class="form-info">Worcester, MA</p>
                </div>
                <div class="info-item" id="phone">
                  <img class="icon" src="assets/img/phone-icon.png" alt="">
                  <p class="form-info">123-456-7890</p>
                </div>
                <div class="info-item" id="email">
                  <img class="icon" src="assets/img/email-icon.svg" alt="">
                  <p class="form-info">mail@carecompare.com</p>
                </div>
            </div>
          </form>
        </div>
        <div class="meet-the-team">
          <h4>Meet the Team</h4>
          <div id="photos">
            <img class="photo" src="assets/img/jack.jpeg" alt="">
            <img class="photo-1" src="assets/img/ken.jpeg" alt="">
            <img class="photo-1" src="assets/img/connor.jpeg" alt="">
          </div>
          <div id="names">
            <p class="name">Jack Gerulskis</p>
            <p class="name-1">Ken Desrosiers</p>
            <p class="name-1">Connor Burri</p>
          </div>
        </div>
  </div>
</div>