<br>
<div class="container-fluid row">
  <div class="col-md-auto">
    <nav class="sticky-top sidebar-offset" id="sidebar">
      <div class="sidebar-header">
        <h3>Filters</h3>
      </div>
      <h5 class="filter-header">Distance</h5>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" #dist (change)="distanceChanged(dist.value)">
      </div>
      <h5 class="filter-header">Rating</h5>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" #rat (change)="ratingChanged(rat.value)">
      </div>
      <h5 class="filter-header">Price</h5>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="100" class="slider" #prce (change)="priceChanged(prce.value)">
      </div>
    </nav>
  </div>
  <div class="col">
    <div class="col" *ngIf="activeSubset && loading === false; else loadingWheel">
      <div class="row">
        <agm-map id="map" [latitude]="42.491366" [longitude]="-71.102669">
          <agm-marker *ngFor="let location of this.activeSubset" [latitude]="location.getLat()" [longitude]="location.getLong()"></agm-marker>
        </agm-map>
      </div>
      <div class="row">
        <h1>Showing {{activeSubset.length}} results for {{this.drgCode}} </h1>
      </div>
      <table>
        <tr *ngFor="let hospitals of getHospitalsInRows(3); let i = index">
          <td *ngFor="let hospital of hospitals">
            <div class="card mx-auto text-center"
                 *ngIf="hospital"
                 (click)="selected(hospital)"
                 [class.selected]="hospital === activeHospital" data-toggle="modal" data-target="#fullDetails">
              <img class="card-img-top" [src]='hospital.imgUrl'>
              <div class="card-body">
                <h6 class="card-title">{{hospital.name}}</h6>
                <p class="card-text">Price: {{hospital.getApproxOutOfPocket() | currency }}</p>
              </div>
            </div>
          </td>
        </tr>
        <div class="modal fade" id="fullDetails" tabindex="-1" role="dialog" aria-labelledby="detailsLabel"
             aria-hidden="true">
          <div *ngIf="activeHospital" class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <p style="font-size: 20px; text-align: center" class="modal-title"
                   id="detailsLabel">{{activeHospital.name}}</p>
              </div>
              <div class="modal-body" style="text-align: center">
                {{activeHospital.address}}
                <br>
                {{activeHospital.city}}, {{activeHospital.state}} {{activeHospital.zip}}
              </div>
              <div class="modal-footer">
                <button type="button" ngbAutofocus class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </table>
</div>
<ng-template #loadingWheel style="margin: 0 auto;">
  <img src="../../assets/img/loadingWheel.gif">
</ng-template>
</div>
</div>
