<br>
<div class="container-fluid row">
  <div class="col-md-auto">
    <nav class="sticky-top sidebar-offset" id="sidebar">
      <div class="sidebar-header">
        <h3>Filters</h3>
      </div>
      <h5 class="filter-header">Distance</h5>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" #dist (change)="distanceChanged(dist.value)">
      </div>
      <h5 class="filter-header">Rating</h5>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" #rat (change)="ratingChanged(rat.value)">
      </div>
      <h5 class="filter-header">Price</h5>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="100" class="slider" #prce (change)="priceChanged(prce.value)">
      </div>
    </nav>
  </div>
  <div class="col">
    <div class="col" *ngIf="activeSubset && loading === false; else loadingWheel">
      <div class="row">
        <h1>Showing {{activeSubset.length}} results for {{this.drgCode}} </h1>
      </div>
      <table align="center">
        <tr *ngFor="let hospitals of getHospitalsInRows(3); let i = index">
          <td *ngFor="let hospital of hospitals">
            <div class="card mx-auto text-center"
                 *ngIf="hospital"
                 (click)="selected(hospital)"
                 [class.selected]="hospital === activeHospital" data-toggle="modal" data-target="#fullDetails">
              <img class="card-img-top" [src]='hospital.imgUrl' style="width: 450px; height: 350px">
              <div class="card-body">
                <h6 class="card-title">{{hospital.name}}</h6>
                <p class="card-text">Estimated Price: {{hospital.getApproxOutOfPocket() | currency }}</p>
              </div>
            </div>
          </td>
        </tr>
        <div class="modal fade" id="fullDetails" tabindex="-1" role="dialog" aria-labelledby="detailsLabel"
             aria-hidden="true">
          <div *ngIf="activeHospital" class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <p class="modal-title"
                   id="detailsLabel">{{activeHospital.name}}</p>
              </div>
              <div class="modal-body" style="text-align: center">
                <label>Address</label>
                {{activeHospital.address}}
                <br>
                <label>City</label>
                {{activeHospital.city}}
                <br>
                <label>State</label>
                {{activeHospital.state}}
                <br>
                <label>Price Charged</label>
                {{activeHospital.totalPayments | currency}}
                <br>
                <label>Avg Payment by Medicare</label>
                {{activeHospital.averageMedicarePayment | currency}}
                <br>
                <label>Average total payment</label>
                {{activeHospital.averageMedicarePayment | currency}}
              </div>
              <br>
              <div class="collapse" id="myMap">
                <div class="card-body">
                  <agm-map id="map" [latitude]="this.userLat" [longitude]="this.userLong">
                    <agm-marker *ngIf="allowUserLocation" [longitude]="this.userLong" [latitude]="this.userLat" title="me"></agm-marker>
                    <agm-marker [latitude]="activeHospital.getLat()" [longitude]="activeHospital.getLong()" [title]="activeHospital.getName()"></agm-marker>
                  </agm-map>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="myMap" data-target="#myMap" id="mapButton" (click)="changeButtonText()">Show Map</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </table>
</div>
  <ng-template #loadingWheel>
      <p class="align-center">
          <img src="../../assets/img/loadingWheel.gif">
      </p>      
</ng-template>
</div>
</div>
