<br>
<div class="container-fluid row">
  <div class="col-md-auto">
    <nav class="sticky-top" id="sidebar">
      <div class="sidebar-header">
        <h3>Filters</h3>
      </div>
        <h6>Distance</h6>
        <div class="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="distanceRange">
        </div>
      <h6>Rating</h6>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="ratingRange">
      </div>
      <h6>Price</h6>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="priceRange">
      </div>
    </nav>
  </div>
  <div class="col">
    <div class="row" *ngFor="let hospitalRow of getHospitalsInRows(4)">
      <div class="col" *ngFor="let hospital of hospitalRow">
        <div class="card mx-auto"
             (click)="selected(hospital)"
             [class.selected]="hospital === activeHospital"
             style="width: 20rem;">
          <img class="card-img-top" src="../../assets/img/placeholder.jpg">
          <div class="card-body">
            <h5 class="card-title">{{hospital.name}}</h5>
            <p class="card-text">Price: {{hospital.getApproxOutOfPocket()}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
