.selected {
  background-color: gray;
  color: white;
}

div.card:hover {
  background-color: gray;
}

.sidebar-offset {
  top: 60px
}

div.card {
  margin-bottom: 20px;
}

h5.card-title {
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.filter-header {
  text-align: center;
  margin-top: 40px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  margin-top: 10px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  border-radius: 12.5px;
  background: #e7e7e7; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin-bottom: 20px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #1e90ff; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #1e90ff; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.resizeSingle {
  margin-top: 5px;
  width: 30px;
  height: auto;
}

.resizeTriple {
  width: 40px;
  height: auto;
}

h6 {
  font-size: 14px;
}
agm-map{
  height: 800px;
  width: 800px;
}
