img.logo {
  width: 100%;
  height: auto;
}

#navbar{
  opacity: 1 !important;
  background: dodgerblue;
  width: 100%;
}

li.nav-item{
  opacity: 1;
  color: dodgerblue !important;
}

.footer{
  position: fixed;
  left: 0;
  height: 55px;
  bottom: 0;
  color: white;
  width: 100%;
  background-color: #312619;
  clear: both;
  text-align: center;
}

#terms:hover{
  color: dodgerblue;
}
#privacy:hover{
  color: dodgerblue;
}


body{
  padding-bottom: 55px;
}
