img.logo {
  width: 100%;
  height: auto;
}

#navbar{
  opacity: 1 !important;
  background: dodgerblue;
  width: 100%;
}

li.nav-item{
  opacity: 1;
  color: dodgerblue !important;
}

#terms:hover{
  color: #c4e3f8;
  cursor: pointer;
}
#privacy:hover{
  color: #c4e3f8;
  cursor: pointer;
}
