<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <a routerLink="/home"><img class="logo" src="../assets/img/fullProtoLogo.png"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="whiteLink" routerLink="/procedureSelection">Price Compare</a>
          </li>
          <li class="nav-item">
            <a class="whiteLink" routerLink="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="whiteLink" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="whiteLink" routerLink="/drgtable">DRGs</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <img class="imgLink" src="../assets/img/login.png" routerLink="/account">
          </li>
          <li class="nav-item">
            <img class="imgLink" src="../assets/img/user.png" routerLink="/sign-up">
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </body>
</html>
