.box{
  width: 900px;
  height:  800px;
  display: block;
  background-color: #004080;
  margin: auto auto auto auto;
}

.pill{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 16px;
}
.pill:hover{
  background-color: #aaa;
}
.pillDiv{
  float: right;
}
.Title{
  text-align: center;
  color: white;
}

.log{
  color:white;
  background-color: #0099ff;
  border-width: 0;
  font-size: 20px;
  width: 400px;
  height: 40px;
}


.longform::placeholder {
  color: #cccccc;
}

.longform{
  font-size: 20px;
  border-width: 1px;
  border-color: white;
  display: block;
  margin: 0 auto 0 auto;
  color:white;
  width: 400px;
  background-color: #004080;
}

.check{
  color: white;
  padding-left: 250px;
}
