<!--sign up page -->
<br>
<div class="container-fluid">
  <div class="box">
    <div class="Side" style="background-color:#aaa;">
      some picture or design of some sort
    </div>
    <div class="Side" style="background-color:#bbb;">
      <div class="pillDiv">
      <button class="pill" value="l" (click)="changePage($event)">Log in</button>
      <button class="pill" value="s" (click)="changePage($event)">Sign up</button>
      </div>
      <br>
      <br>
      <br>
      <div>
        <span *ngIf="login; then log else new"></span>
        <ng-template #log>
          <h1 class="Title">Log in</h1>
          <br>
          <br>
          <br>
          <form action="/action_page.php" class="loginForm">
            <div class="form">
              <label for="email" style="font-size: 25px;padding-left: 50px; padding-right: 20px">Email Address:</label>
              <input type="email"class="longform"id="email"placeholder="Enter Email"name="email">
            </div>
            <br>
            <br>
            <div class="form">
              <label for="password" style="font-size: 25px;padding-left: 50px; padding-right: 20px">Password:</label>
              <input type="password"class="longform"id="password"placeholder="Enter Password"name="password">
            </div>
            <br>
            <br>
          </form>
          <button style="display: block;margin: 0 auto 0 auto">Log in</button>
        </ng-template>


        <ng-template #new>
          hi
        </ng-template>
      </div>
    </div>
  </div>
</div>
