<div [@flyInOut] class='jumbotron' *ngIf='showFirstDiv === true'>
  <h1 class="display-4" id="price compare header">Price Compare</h1>
  <p class="lead">Please answer the following questions to compare pricing for a specific procedure</p>
  <hr class="my-4">
  <p>Enter your 3-digit procedure DRG code</p>
  <p>
    <label style="width: 500px">
      <!--<input class="input-sm drg-input" type = "string" [(ngModel)]="selectedDRG" placeholder="enter DRG code" aria-controls="hidden" id='drg input'>-->
      <ng-autocomplete
        [data]="this.drgCodes"
        placeHolder="Enter the DRG Code..."
        [itemTemplate]="listing"
        [notFoundTemplate]="doesnotexist"
        [(ngModel)]="selectedDRG"
        [historyIdentifier]="this.drgCodes">
      </ng-autocomplete>
      <ng-template #listing let-item>
        <a [innerHTML]="item"></a>
      </ng-template>
      <ng-template #doesnotexist>
        <div [innerText]="this.nope"></div>
      </ng-template>
    </label>
    <a class="btn btn-primary btn-sm" (click)="setCode()" id='compare price button'>Compare Pricing</a>
    <br>
    <a class="btn btn-primary btn-sm" (click)="switchDiv()" >DRG Code?</a>
    <br> 
  </p>
  <p *ngIf="incorrectDRG" class="error-text">this DRG code does not exist!</p>
</div>

