.title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #c4e3f8;
}

.subTitle {
  font-size: 20px;
  text-align: center;
  color: #c4e3f8;
}

.centerCustomImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  margin-bottom: 15px;
  width: 20%;
}

.centerCustom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.emphasis {
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #c4e3f8;
  color: #3b3355;
}

.mat-form-field {
  color: white !important;

}

.input:focus {
  color:white;
}


/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #c4e3f8 !important;
}

.bg-primary {
  background-color: #3b3355 !important;
}

.div-extension {
  padding-bottom: auto;
}
