<div [ngClass]="getPanelClass((knowsCode === null))">
  <h1 class="display-4">Price Compare</h1>
  <p class="lead">Please answer the following questions to compare pricing for a specific procedure</p>
  <hr class="my-4">
  <p>Do you know your procedures DRG?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" activ="false" (click)="knowsCode = false;">No</a>
    <a class="btn btn-primary btn-lg" (click)="knowsCode = true;">Yes</a>
  </p>
</div>
<div *ngIf="knowsCode" class="jumbotron">
  <h1 class="display-4">What is the procedure's DRG code</h1>
  <p class="lead">A diagnosis related group is classification system that standardize patient health care</p>
  <hr class="my-4">
  <form class="example-form">
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;" [(ngModel)]="selectedDRG">
      <span class="label">Enter a DRG Code</span>
      <span class="border"></span>
    </label>
  </form>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/priceCompare" (click)="setCode()">Compare Pricing</a>
  </p>
</div>
<div [ngClass]="getPanelClass((foundProc === null))" *ngIf="knowsCode === false;">
  <h1 class="display-4">Enter the name of the procedure</h1>
  <p class="lead">something</p>
  <hr class="my-4">
  <label for="inp" class="inp">
    <input type="text" id="inp" placeholder="&nbsp;">
    <span class="label">Enter procedure name</span>
    <span class="border"></span>
  </label>
  <p class="lead">
    <a class="btn btn-primary btn-lg" (click)="foundProc = true;">Continue</a>
  </p>
</div>
<div class="jumbotron" *ngIf="foundProc === true;">
  <h1 class="display-4">Are there any complexities with this procedure?</h1>
  <p class="lead">something</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" (click)="foundProc = true;">No</a>
    <a class="btn btn-primary btn-lg" (click)="foundProc = true;">Minor</a>
    <a class="btn btn-primary btn-lg" (click)="foundProc = true;">Major</a>
    <a class="btn btn-primary btn-lg" (click)="foundProc = true;">I don't know</a>
  </p>
</div>
