<div [@flyInOut] class='jumbotron' *ngIf='showFirstDiv === true'>
  <h1 class="display-4" id="price compare header">Price Compare</h1>
  <p class="lead">Please answer the following questions to compare pricing for a specific procedure</p>
  <hr class="my-4">
  <p>Enter your 3-digit procedure DRG code</p>
  <p>
    <label>
      <input class="input-sm drg-input" type = "string" [(ngModel)]="selectedDRG" placeholder="enter DRG code" aria-controls="hidden" id='drg input'>
    </label>
    <a class="btn btn-primary btn-sm" (click)="setCode()" id='compare price button'>Compare Pricing</a>
    <br>
    <a class="btn btn-primary btn-sm" (click)="switchDiv()" >DRG Code?</a>
    <br> 
  </p>
  <p *ngIf="incorrectDRG" class="error-text">this DRG code does not exist!</p>
</div>

