div.quotes {
    padding: 40px;
    background-color:#3b3355;
    color:white;
}

div.solution {
    padding: 40px;
    background-color:#c1e0f7;
    color:#293132;
    align-content: center;
}

img.logo2 {
    width: 50%;
    position: relative;
    margin-left: 25%;
}