<div class="top-area">
  <video [@fade-in] *ngIf="video === true"autoplay muted loop >
    <source src="assets/stock-footage/empty modern surgery new surgery room with medical electronic equipment free stock Video footage.mp4" type="video/mp4">
  </video>
  <div class="opaque-plane"></div>
  <div class="content">
    <div id="title" [@fade-in] *ngIf="title === true;">
        <h1 class="name" id="care">Care</h1>
        <h1 class="name" id="compare">Compare</h1>
    </div>
    <div class="phrase">
      <p [@fade-in] *ngIf="phrase1 === true;">Consumer decisions for health care</p>
    </div>
  </div>
</div>
